.menu__show__box.clearfix.hidden-xs
  #menu__show.clearfix
    .menu__show__title  
      .index-main__top.clearfix
        .index-main__top__english
          %p Menu
        .index-main__top__japanese.col-md-9
          %p.u-white-1.c-circle.c-large.u-pink-2 献
          %p.u-white-1.c-circle.c-large.u-yellow-2 立
        .index-main__top__link.col-md-3
          -if current_user?(@menu.user)
            = link_to edit_menu_path do
              .fa.fa-caret-right 
              献立を編集する
    #contents-inner.contents-inner__cover.contents-inner__cover-menu-show
      .contents-inner__white.contents-inner__white-menu-show.hidden-xs.clearfix
        .menu__show__main.hidden-xs
          .menu__show__main-title
            = @menu.name
          .menu__show__main-description.u-pt10
            = @menu.point
          .menu__show__main-kcal-name.u-pt10.clearfix
            .menu__show__main-kcal
              %i.fa.fa-fire
              合計
              kcal(１人あたり)
            = link_to menu_path(@menu) do
              .menu__show__main-user-name
                = @menu.user.name
              .menu__show__main-user-image.c-circle{style:"background-image: url(#{@menu.user.image.url(:original)});"}
          .menu__show__main-image-ingredient.clearfix.u-pt30
            .menu__show__main-images.col-md-5
              .menu__show__main-image{style:"background-image: url(#{@menu.image.url(:original)});"}
            .menu__show__main-ingredient.col-md-7
          %ul.menu__show__main-recipes.u-pt30
            %li.menu__show__main-recipe.clearfix.u-mt10
              = link_to recipe_path(@main_recipe) do
                .menu__show__main-recipe-image.col-md-4{style:"background-image: url(#{@main_recipe.image.url(:original)});"}
              .menu__show__main-recipe-contents.col-md-8
                .menu__show__recipe-contents-title
                  = link_to @main_recipe.name, recipe_path(@main_recipe)
                .menu__show__recipe-contents-kcal
                  %i.fa.fa-fire
                  = @main_recipe.calorie
                  kcal,　糖質
                  = @main_recipe.sugar
                  g(1人あたり)
                .menu__show__recipe-contents-description
                  = @main_recipe.description
            - @side_recipes.each do |side_recipe|
              %li.menu__show__main-recipe.clearfix.u-mt10
                = link_to recipe_path(side_recipe) do
                  .menu__show__main-recipe-image.col-md-4{style:"background-image: url(#{side_recipe.image.url(:original)});"}
                .menu__show__main-recipe-contents.col-md-8
                  .menu__show__recipe-contents-title
                    = link_to side_recipe.name, recipe_path(side_recipe)
                  .menu__show__recipe-contents-kcal
                    %i.fa.fa-fire
                    = side_recipe.calorie
                    kcal,　糖質
                    = side_recipe.sugar
                    g(1人あたり)
                  .menu__show__recipe-contents-description
                    = side_recipe.description
  .menu__show__side_block
    =render 'layouts/side_block'
.mobile-menu__show__box.visible-xs
  .mobile-recipe__show__top.u-pr10.u-pl10
    .mobile-recipe__show__english
      %p Menu
    .mobile-recipe__show__japanese.col-md-10
      %p.u-white-1.c-circle.c-large.u-pink-2 献
      %p.u-white-1.c-circle.c-large.u-yellow-2 立
  .mobile-recipe__show__image.visible-xs{style:"background-image: url(#{@menu.image.url});"}
  .mobile-recipe__show__title.visible-xs.u-white-2.u-pr10.u-pl10.u-pt10= @menu.name
  .mobile-recipe__show__kcal-category-name.visible-xs.u-white-2.u-pr10.u-pl10.u-pt10.clearfix
    .mobile-recipe__show__kcal.u-pink-1.col-xs-5
      %i.fa.fa-fire
      合計
      kcal
    .mobile-recipe__show__category.col-xs-3
    .mobile-recipe__show__name.col-xs-4
      .mobile-menu__show__main-user-image.c-circle{style:"background-image: url(#{@menu.user.image.url(:original)});"}
      = @menu.user.name 
  .mobile-recipe__show__description.visible-xs.u-white-2.u-pr10.u-pl10.u-pt10= @menu.point
  %ul.mobile-menu__show__recipes.clearfix.u-pt30
    %li.mobile-menu__show__recipe.clearfix.u-pt10.u-pb10
      = link_to recipe_path(@main_recipe) do
        .mobile-menu__show__main-recipe-image.col-xs-5{style:"background-image: url(#{@main_recipe.image.url(:original)});"}
      .mobile-menu__show__main-recipe-contents.col-xs-7
        .mobile-menu__show__recipe-contents-title.u-bold
          = link_to @main_recipe.name, recipe_path(@main_recipe)
        .mobile-menu__show__recipe-contents-kcal
          %i.fa.fa-fire
          = @main_recipe.calorie
          kcal
        .mobile-menu__show__recipe-contents-description
          = @main_recipe.description
    - @side_recipes.each do |side_recipe|
      %li.mobile-menu__show__recipe.clearfix.u-mt10.u-pt10.u-pb10
        = link_to recipe_path(side_recipe) do
          .mobile-menu__show__main-recipe-image.col-xs-5{style:"background-image: url(#{side_recipe.image.url(:original)});"}
        .mobile-menu__show__main-recipe-contents.col-xs-7
          .mobile-menu__show__recipe-contents-title.u-bold
            = link_to side_recipe.name, recipe_path(side_recipe)
          .mobile-menu__show__recipe-contents-kcal
            %i.fa.fa-fire
            = side_recipe.calorie
            kcal
          .mobile-menu__show__recipe-contents-description
            = side_recipe.description
