.li.clearfix.u-pt5.hidden-xs
  .fields
    .field.col-md-7= f.text_field :name, placeholder:'例) 鳥のむね肉', style:'width: 85%;height: 35px;'
    .field.col-md-4= f.text_field :volume, placeholder:'例) 100g', style:'width: 85%;height: 35px;'
    .col-md-1= link_to_remove_fields "✖️", f 
.li.clearfix.u-pt5.visible-xs
  .fields
    .field.col-xs-6= f.text_field :name, placeholder:'例) 鳥のむね肉', style:'width: 100%;height: 35px;'
    .field.col-xs-4= f.text_field :volume, placeholder:'例) 100g', style:'width: 100%;height: 35px;'
    .col-xs-1= link_to_remove_fields "✖️", f 



