.recipe__new__top.u-mt30.hidden-xs
= form_for(@recipe) do |f|
  .recipe__new__contents.u-mb30.hidden-xs
    .recipe__new__title
      レシピをのせる
    .recipe__new__name
      .recipe__new__name-1
        レシピのタイトルを入力
      .recipe__new__name-2
        = f.text_field :name, class:'', placeholder:'レシピのタイトルを入力', rows:'10', style:"width: 90%;height: 45px;"
    .recipe__new__descroption
      .recipe__new__descroption-1
        キャッチコピーを入力
      .recipe__new__descroption-2
        = f.text_area :description, class:'', placeholder:'キャッチコピーを入力', style:"width: 60%;height: 70px;"
    .recipe__new__image-ingredient.clearfix.u-pt10
      .recipe__new__image.col-md-5
        写真
        = f.file_field :image
        = image_tag("no_image.png", :class => "imgView", :size => "300x250") 
      .recipe__new__ingredient.col-md-7
        .recipe__new__ingredient-people.col-md-6
          材料の人数
          = f.text_field :people, value:'2', style:"width: 70px;"
          人分
        .recipe__new__ingredient-calorie.col-md-6
          １人分のカロリー
          = f.text_field :calorie, class:'', style:"width: 70px;"
          kcal
        .recipe__new__ingredient-sugar.col-md-6.col-md-offset-6
          １人分の糖質量
          = f.text_field :sugar, class:'', style:"width: 85px;"
          g
        %ul.recipe__new__ingredent-ul.clearfix
          %li.recipe__new__ingredent-li.u-pb10.u-pt10.clearfix
            .ingredient-li__item.col-md-7
              材料
            .ingredient-li__quantity.col-md-5
              分量
          = f.fields_for :ingredients, @ingredients do |ingredient|
            = render 'recipes/fields_ingredient',{:f => ingredient}
          .ingredient__add.u-pt10
            = link_to_add_fields "＋", f, :ingredients
            材料を追加する
    .recipe__new__procedure.u-pt10.clearfix
      作り方
      %ul
        = f.fields_for :procedures, @procedures do |procedure|
          = render 'fields_procedure', {:f => procedure}
        .procedure__add
          = link_to_add_fields "+", f, :procedures, id: "add-proc"
          作り方を追加する
    .recipe__new__point.u-pt10
      .recipe__new__point-title
        レシピのポイント
      = f.text_area :tip, class:'edit-field', placeholder:'レシピのポイントを入力', style: "font-size: 1.25rem;width: 70%;height: 100px;"
    .recipe__new__category
    .recipe__new__submit
      = f.submit "レシピを公開する", name: 'save'
      = f.submit "レシピを下書き保存する", name: 'pre_save'
  .mobile-recipe__new__contents.u-mb30.visible-xs
    .mobile-recipe__new__title
      レシピをのせる
    .recipe__new__name
      .recipe__new__name-1
        レシピのタイトルを入力
      .recipe__new__name-2
        = f.text_field :name, class:'', placeholder:'レシピのタイトルを入力', rows:'10', style:"width: 100%;height: 45px;"
    .recipe__new__descroption
      .recipe__new__descroption-1
        キャッチコピーを入力
      .recipe__new__descroption-2
        = f.text_area :description, class:'', placeholder:'キャッチコピーを入力', style:"width: 100%;height: 70px;"
    .recipe__new__image-ingredient.clearfix.u-pt10
      .recipe__new__image.col-md-5
        写真
        = f.file_field :image
        = image_tag("no_image.png", :class => "imgView", :size => "300x250") 
      .recipe__new__ingredient.col-md-7.u-mt10
        .recipe__new__ingredient-people.col-xs-6
          材料の人数<br>
          = f.text_field :people, value:'2', style:"width: 70px;"
          人分
        .recipe__new__ingredient-calorie.col-xs-6
          １人分のカロリー<br>
          = f.text_field :calorie, class:'', style:"width: 70px;"
          kcal
        .recipe__new__ingredient-sugar.col-xs-6.col-xs-offset-6
          １人分の糖質量<br>
          = f.text_field :sugar, class:'', style:"width: 85px;"
          g
        %ul.recipe__new__ingredent-ul.clearfix
          = f.fields_for :ingredients, @ingredients do |ingredient|
            = render 'recipes/fields_ingredient',{:f => ingredient}
          .ingredient__add.u-pt10
            = link_to_add_fields "＋", f, :ingredients
            材料を追加する
    .recipe__new__procedure.u-pt10.clearfix
      .procedure__top
        作り方
      %ul
        = f.fields_for :procedures, @procedures do |procedure|
          = render 'fields_procedure', {:f => procedure}
        .procedure__add
          = link_to_add_fields "+", f, :procedures, id: "add-proc"
          作り方を追加する
    .recipe__new__point.u-pt10
      .recipe__new__point-title
        レシピのポイント
      = f.text_area :tip, class:'edit-field', placeholder:'レシピのポイントを入力', style: "font-size: 1.25rem;width: 100%;height: 100px;"
    .recipe__new__category
      .recipe__new__category-1
        .recipe__new__category-title
          レシピのカテゴリー①
        .recipe__new__category-button.u-pb20
          = f.radio_button :recipe_select, "1", {:checked => true}
          主菜<br>
          = f.radio_button :recipe_select, "2"
          副菜
      .recipe__new__category-2
        .recipe__new__category-title
          レシピのカテゴリー②
        .recipe__new__category-button.u-pb20.clearfix
          .category-button__item.col-xs-6
            = f.radio_button :kind, "1", {:checked => true}
            野菜のおかず
          .category-button__item.col-xs-6
            = f.radio_button :kind, "2"
            お肉のおかず
          .category-button__item.col-xs-6
            = f.radio_button :kind, "3"
            魚介のおかず
          .category-button__item.col-xs-6
            = f.radio_button :kind, "4"
            ごはんもの
          .category-button__item.col-xs-6
            = f.radio_button :kind, "5"
            パスタ・グラタン
          .category-button__item.col-xs-6
            = f.radio_button :kind, "6"
            麺
          .category-button__item.col-xs-6
            = f.radio_button :kind, "7"
            サラダ
          .category-button__item.col-xs-6
            = f.radio_button :kind, "8"
            スープ・汁物
          .category-button__item.col-xs-6
            = f.radio_button :kind, "9"
            お弁当
          .category-button__item.col-xs-6
            = f.radio_button :kind, "11"
            お菓子・デザート
          .category-button__item.col-xs-6
            = f.radio_button :kind, "12"
            パン
          .category-button__item.col-xs-6
            = f.radio_button :kind, "13"
            大豆のおかず
      .recipe__new__category-3
        .recipe__new__category-title
          レシピのカテゴリー③
        .recipe__new__category-button.u-pb20
          = f.fields_for :category_selects, @category_selects do |f|
            = f.check_box :category_number2 
            糖質制限食<br>
            = f.check_box :category_number3
            HbA1c、血糖値の安定<br>
            = f.check_box :category_number4
            味に自信あり<br>
            = f.check_box :category_number5
            すぐできるメニュー<br>
            = f.check_box :category_number6
            その他
      .recipe__new__category-4
        .recipe__new__category-title
          レシピのカテゴリー④
        .recipe__new__category-button.u-pb20
          - RecipeFeeling.feelings.each do |index, recipe_feeling|
            = check_box_tag "recipe[recipe_feelings_attributes][#{index}][feeling]", index, @recipe.recipe_feelings.map(&:feeling).include?(index)
            = RecipeFeeling.feelings[index]
            <br>
    .recipe__new__submit
      = f.submit "レシピを公開する", name: 'save'
      = f.submit "レシピを下書き保存する", name: 'pre_save'