#recipe__index__box.clearfix.hidden-xs.container
  .recipe__index__main
    .recipe__index__top
      .index-main__top__english
        %p Recipe & Menu
      .index-main__top__japanese
        %p.u-white-1.c-circle.c-large.u-pink-2 レ
        %p.u-white-1.c-circle.c-large.u-pink-2 シ
        %p.u-white-1.c-circle.c-large.u-pink-2 ピ
        %p.u-white-1.c-circle.c-large.u-yellow-2 献
        %p.u-white-1.c-circle.c-large.u-yellow-2 立
        %p.c-circle.c-large.u-beige-2 一
        %p.c-circle.c-large.u-beige-2 覧
    .recipe__index__tab.clearfix
      .recipe__index__tab-recipe.step-list.active.clearfix
        レシピ
      .recipe__index__tab-menu.step-list.clearfix
        献立
    .contents-inner__cover.contents-inner__cover--recipe-index
      .recipe__index__items.clearfix
        .recipe__index__items-title
          = Recipe.categories[@category]
        .recipe__index__item-recipe.main.active
          - @categories.each do |category|
            = render 'recipes/recipe', recipe: category
        .recipe__index__item-menu.main
          - @menu_categories.each do |menu_category|
            = render 'menus/menu', menu: menu_category
  .recipe__index__side
    =render 'layouts/side_block'
#mobile-recipe__index__box.clearfix.visible-xs
  .mobile-recipe__index__top
    .index-main__top.clearfix
      .index-main__top__english.u-pt10.u-pl10
        %p Recipe & Menu
      .mobile-index-main__top__japanese.u-pl10
        %p.u-white-1.c-circle.c-mobile.u-pink-2 レ
        %p.u-white-1.c-circle.c-mobile.u-pink-2 シ
        %p.u-white-1.c-circle.c-mobile.u-pink-2 ピ
        %p.u-white-1.c-circle.c-mobile.u-yellow-2 献
        %p.u-white-1.c-circle.c-mobile.u-yellow-2 立
        %p.c-circle.c-mobile.u-grey-2 一
        %p.c-circle.c-mobile.u-grey-2 覧
    .mobile-recipe__index__top-button
      .mobiile-recipe__top-button-item.mobile-step-list.active
        レシピ
      .mobiile-recipe__top-button-item.mobile-step-list
        献立
  %ul.mobile-recipe__index__contents.u-white-2
    .recipe__index__items-title
      = Recipe.categories[@category]
    .recipe__index__item-recipe.mobile-main.active
      - @categories.each do |category|
        = render 'recipes/recipe', recipe: category
    .recipe__index__item-menu.mobile-main
      - @menu_categories.each do |menu_category|
        = render 'menus/menu', menu: menu_category
