%header#header-top
  .header-top-inner
    %ul#header-top__menu.hidden-xs
      %li#header-top__menu__logo.col-md-offset-2
        = link_to image_tag("logo.png" , class: "logo", alt: "dnote", height: "110px"), about_path
      -if user_signed_in?
        %li.header-top__menu__item.col-md-offset-3
          %p.c-circle.c-large.u-pink-2.u-ml30
            = link_to image_tag("pen_black.png", class: "header-top__menu__item__pencil"), new_recipe_path
          = link_to 'レシピをのせる', new_recipe_path
        %li.header-top__menu__item
          %p.c-circle.c-large.u-yellow-2.u-ml23
            = link_to image_tag("pen_green.png", class: "header-top__menu__item__pencil"), new_menu_path
          = link_to '献立をのせる', new_menu_path
        %li.header-top__menu__item.header-top__menu__item--login
          %p.c-circle.c-large.u-green-2.u-ml10
            = image_tag("key.png", class: "header-top__menu__item__key")
            %div マイページ
      -else
        %li.header-top__menu__item.header-top__menu__item--login.col-md-offset-3
          %p.c-circle.c-large.u-pink-2.u-ml30
            = image_tag("pen_black.png", class: "header-top__menu__item__pencil")
            %div レシピをのせる
        %li.header-top__menu__item
          %p.c-circle.c-large.header-top__menu__item--login.u-yellow-2.u-ml23
            = image_tag("pen_green.png", class: "header-top__menu__item__pencil")
            %div 献立をのせる
        %li.header-top__menu__item.header-top__menu__item--login
          %p.c-circle.c-large.u-green-2.u-ml10
            = image_tag("key.png", class: "header-top__menu__item__key")
            %div ログイン
    //モバイル
    #sp-header-top__menu.visible-xs
      .sp-header-top__menu__logo.col-xs-4= link_to image_tag("dnote-sp-logo.png" , class: "logo", alt: "dnote", height: "40px"), about_path
      %p.sp-header-top__menu__logo.col-xs-6
        糖尿病のおいしい生活
      .sp-header-top__menu__sidebar-1.col-xs-2
        .sp-header-top__menu__sidebar

        

=render 'layouts/login'


