%header#header-top
  .header-top-inner
    %ul#header-top__menu
      %li#header-top__menu__logo.col-md-offset-2
        = link_to image_tag("logo.png" , class: "logo", alt: "dnote"), about_path
      %li.header-top__menu__item.col-md-offset-3
        %p.c-cercle.u-pink
          = link_to image_tag("pen_black.png", width: "40px"), new_recipe_path
        = link_to 'レシピをのせる', new_recipe_path
      %li.header-top__menu__item
        %p.c-cercle.u-yellow
          = link_to image_tag("pen_green.png", width: "40px"), new_menu_path
        = link_to '献立をのせる', new_menu_path
      %li.header-top__menu__item
        %p.c-cercle.u-green
          = link_to image_tag("key.png", width: "30px"), new_user_path
        = link_to 'ログイン', new_user_path


