#close-modal.signup-modal.remodal
  .signup-modal__box
    -if user_signed_in?
      .modal-inner__left.col-md-6
        .modal-title
          ログアウト
        .modal-inner__btn.c-btn.c-btn--login.u-pink-2= link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      .modal-inner__left.col-md-6
        .modal-title
          ログイン
        .modal-head
          %i
          すでにユーザー登録されている方
        .modal-inner__btn.c-btn.c-btn--login.u-pink-2= link_to "ログイン", new_user_session_path
        .facebook-btn-container
          .modal-inner__btn.c-btn.c-btn--login.u-facebook-2= link_to "Facebookでログイン", user_omniauth_authorize_path(:facebook)
          .modal-inner__btn.c-btn.c-btn--login.u-twitter-2= link_to "Twitterでログイン",  user_omniauth_authorize_path(:twitter)
    -if user_signed_in? && current_user.permission == nil
      .modal-inner__right.col-md-6
        .modal-title
          マイページ
        .modal-inner__btn.c-btn.c-btn--login.u-yellow-2= link_to "マイページへ移動", current_user
    - elsif user_signed_in? && current_user.permission != nil
      .modal-inner__right.col-md-6
        .modal-title
          マイページ
        .modal-inner__btn.c-btn.c-btn--login.u-yellow-2= link_to "マイページへ移動", current_user
    - else
      .modal-inner__right.col-md-6
        .modal-title
          新規登録
        .modal-head
          %i
          ユーザー登録されていない方
        .button-container
          .modal-inner__btn.c-btn.c-btn--login.u-yellow-2= link_to "ユーザー登録をする", new_user_registration_path(:u_n => 1)
        .button-container
          .modal-inner__btn.c-btn.c-btn--login.u-yellow-2= link_to "管理栄養士の登録をする",new_user_registration_path(:u_n => 0)
        .facebook-btn-container
          .modal-inner__btn.c-btn.c-btn--login.u-facebook-2= link_to "Facebookで新規登録", user_omniauth_authorize_path(:facebook)
          .modal-inner__btn.c-btn.c-btn--login.u-twitter-2= link_to "Twitterで新規登録",  user_omniauth_authorize_path(:twitter)