%nav#main-nav.visible-xs
  .sidebar#slidemenu_contents
    #slidemenu_list.sidemenu-account
      .sidebar__top
        - if user_signed_in?
          .sidebar__top__image__box.clearfix
            .sidebar__top__image.col-xs-8.col-xs-offset-4.c-circle{style: "background-image: url(#{current_user.image.url(:original)});"}
          .sidebar__top__user-name.u-pb20
            = current_user.name
            さん
          .sidebar__top__recipe-new.c-btn.c-sidebar--recipe.u-mb15
            = link_to 'レシピをのせる', new_recipe_path
          .sidebar__top__menu-new.c-btn.c-sidebar--menu.u-mb15
            = link_to '献立をのせる', new_menu_path
          .sidebar__top__recipe-new.c-btn.c-sidebar--recipe.u-mb15.header-top__menu__item--login.u-white-1
            マイページ
        -else
          .sidebar__top__user-name.u-pt10.u-bold.u-mb15
            ゲストさん
          .sidebar__top__recipe-new.c-btn.c-sidebar--recipe.u-mb15.header-top__menu__item--login
            ログインする
      .sidebar__search
        = form_tag search_path, :method => 'get' do
          = text_field_tag :search, params[:search] , class: "search-bar-2", placeholder: "レシピ名で探す"
          = button_tag '検索'.html_safe, :type => "submit", :class => "c-btn"
      %ul.sidebar__menu
        %li.sidebar__menu__li--title
          %i.fa.fa-bars
          メニュー
        %li.sidebar__menu__li
          = link_to '献立一覧', menus_path
        %li.sidebar__menu__li
          = link_to 'レシピ一覧', recipes_path
        %li.sidebar__menu__li
          = link_to '栄養士コラム', columns_path
        %li.sidebar__menu__li
      %ul.sidebar__category
        %li.sidebar__category__li--title
          %i.fa.fa-cutlery
          カテゴリから探す
        %li.sidebar__category__li
          = link_to 'カロリー表示あり', calories_path
        - Recipe.categories.each do |key, value|
          %li.sidebar__category__li
            = link_to categories_path(:r_category => key) do
              = value
        %li.sidebar__category__li--title
          %i.fa.fa-cutlery
          レシピカテゴリから探す
        - Recipe.kinds.each do |key, value|
          %li.sidebar__category__li
            = link_to kinds_path(:r_kind => key) do
              = value
       




